/*--------------------------------------------------------
------------- DIANSLEY FERNANDES DE LIMA -----------------
----------------------------------------------------------
------------------- ESTRUTURA BASE -----------------------
----------------------------------------------------------

**** DECLARAÇÃO DE VARIÁVEIS
**** ESTILOS GERAIS
**** BODY
**** HEADER
**** PÁGINA INICIAL
**** FOOTER
**** EXTRAS
**** @MEDIA


----------------------------------------------------------
------------------DECLARAÇÃO VARIÁVEIS--------------------
----------------------------------------------------------
 */

:root {
    --variavel: #AAA;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.clear {
    clear: both;
}


/* 
----------------------------------------------------------
--------------------------BODY----------------------------
---------------------------------------------------------- 
*/

html, body {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}


/* 
----------------------------------------------------------
-------------------------HEADER---------------------------
---------------------------------------------------------- 
*/

header {
    padding: 20px 2% 35px 2%;
    height: 130px;
}

header div.logo {
    float: left;
}

header nav.desktop {
    float: right;
    position: relative;
    top: 40px;
}

header nav.desktop ul {
    list-style-type: none;
}

header nav.desktop ul li {
    float: left;
    font-size: 23px;
    padding: 0 30px;
    text-transform: uppercase;
    font-style: italic;
}

header nav.desktop ul li a{
    color: black;
    text-decoration: none;
}

header nav.mobile {
    margin-top: 40px;
    float: right;
    width: 32px;
    height: 32px;
    background-image: url('../img/menu.png');
    background-size: 100% 100%;
    cursor: pointer;
    display: none;
}

header nav.mobile ul {
    width: 98%;
    top: 100px;
    left: 1%;
    position: absolute;
    text-align: center;
    z-index: 999;
    display: none;
}

header nav.mobile ul li {
    font-size: 23px;
    padding: 20px 0;
    text-transform: uppercase;
    font-style: italic;
    border: 3px solid black;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

header nav.mobile ul li:hover {
    background-color: red;
}

header nav.mobile ul li a{
   text-decoration: none;
   color: black;
}


/* 
----------------------------------------------------------
---------------------PÁGINA INICIAL-----------------------
---------------------------------------------------------- 
*/

section.banner {
    width: 100%;
    height: 600px;
    min-height: 600px;
    max-height: 800px;
    background-color: black;
    background-image: url(../img/bg.jpg);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    overflow: hidden;
}

.text-banner {
    padding: 100px;
}

.text-banner-single {
    width: 314px;
    height: 60px;
    margin-top: 20px;
    padding: 15px 30px;
    text-transform: uppercase;
    font-style: italic;
    color: white;
    font-size: 23px;
    background-image: url('../img//box-text.png');
    background-size: 100% 100%;
}

.text-banner-single:nth-of-type(2) {
    position: relative;
    left: -24px;
}

.text-banner-single:nth-of-type(3) {
    position: relative;
    left: -48px;
}

.text-banner-single:nth-of-type(4) {
    position: relative;
    left: -70px;
    background-image: url('../img/box-email.png');
    text-transform: lowercase;
    color: black;
}

section.veiculos-destaque {
    padding: 90px 2% 20px 2%;
}

.line-titulo {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.linha {
    position: absolute;
    height: 2px;
    width: 100%;
    top: 20px;
    background-color: black;
}

.line-titulo h2 {
    position: relative;
    background-color: white;
    display: inline-block;
    padding: 0 20px;
    text-align: center;
    font-size: 27px;
    font-style: italic;
    text-transform: uppercase;
}

section.veiculos-destaque .container {
    max-width: 1400px;
    padding: 40px 0;
}

.vitrine-destaque {
    float: left;
    width: 33.3%;
}

.vitrine-destaque .carro-img {
    width: 100%;
    padding-top: 70%;
    background-size: 100% 100%;
    border: 8px solid white;
}

.vitrine-destaque h2 {
    padding-left: 8px;
    color: black;
    font-style: italic;
    font-size: 20px;
    text-transform: uppercase;
}

.vitrine-destaque p {
    padding-top: 8px;
    padding-left: 8px;
    color: #353535;
    font-size: 15px;
    font-style: italic;
}

.vitrine-destaque a {
    margin-top: 10px;
    color: white;
    font-style: italic;
    font-size: 16px;
    width: 100%;
    display: block;
    line-height: 40px;
    background-color: #EB2D2D;
    text-decoration: none;
    text-align: center;
    border: 8px solid white;
}

.vitrine-destaque a:hover {
    background-color: #cc1e1e;
}

.servicos-descricao {
    display: flex;
}

.half1 {
    width: 50%;
    padding: 90px 0;
    background-color: #242424;
    color: white;
    text-align: center;
}

.half1-wrapper {
    display: inline-block;
    text-align: left;
}

.half1-wrapper h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 32px;
}

.half1-wrapper ul {
    margin-top: 20px;
}

.half1-wrapper li {
    margin-left: 15px;
}

.btn1 {
    margin-top: 30px;
    color: white;
    font-style: italic;
    font-size: 16px;
    width: 100%;
    display: block;
    line-height: 40px;
    background-color: #EB2D2D;
    text-decoration: none;
    text-align: center;
}

.half2 {
    width: 50%;
    padding: 90px 10%;
    background-color: #EB2D2D;
    color: white;
}

.half2 h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 32px;
}

.half2 .depoimento-single {
    margin-top: 19px;
}

.half2 .depoimento-single p {
    font-size: 20px;
}

.navigation {
    margin-top: 30px;
    width: 100%;
    max-width: 700px;
    float: left;
}

.arrows {
    float: left;
}

.navigation img {
    margin-right: 30px;
    cursor: pointer;
    width: 30px;
}

.nome-depoimento {
    float: right;
    color: #252525;
    font-size: 23px;
}

section.contato {
    padding: 80px 2%;
}

section.contato form {
    max-width: 600px;
    margin: 50px auto;
}

section.contato .input-wrapper {
    float: left;
    padding: 10px;
    margin-top: 15px;
}

section.contato input[type=text] {
    width: 100%;
    border: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
}

section.contato textarea {
    width: 100%;
    border: 1px solid #ccc;
    height: 120px;
    padding: 15px;
    resize: none;
}

section.contato input[type=submit] {
    color: white;
    font-style: italic;
    font-size: 16px;
    width: 100%;
    line-height: 40px;
    background-color: #EB2D2D;
    cursor: pointer;
    border: none;
}

section.contato input[type=submit]:hover {
    background-color: #cc1e1e;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

/* 
----------------------------------------------------------
-------------------------FOOTER---------------------------
---------------------------------------------------------- 
*/



/* 
----------------------------------------------------------
-------------------------EXTRAS---------------------------
---------------------------------------------------------- 
*/



/* 
----------------------------------------------------------
-------------------------@MEDIA---------------------------
---------------------------------------------------------- 
*/

@media screen and (max-width: 1400px) {

    section.banner {
        background-size: 90% auto;
        background-position: 200% 100%;
    }

}


@media screen and (max-width: 1024px) {

    section.banner {
        background-size: cover;
        background-position: center;
        height: 70vw;
        min-height: 500px;
    }

}

@media screen and (max-width: 768px) {

    header nav.desktop {
        display: none;
    }

    header nav.mobile {
        display: block;
    }

    .half1-wrapper {
        display: inline-block;
        text-align: left;
    }

    .w50 {
        width: 100%;
    }
    
}

@media screen and (max-width: 580px) {

    .text-banner {
        padding: 20px 50px;
    }

    .text-banner-single {
        width: 200px;
        height: 40px;
        margin-top: 10px;
        padding: 8px 30px;
        font-size: 18px;
    }
    
    .text-banner-single:nth-of-type(2) {
        left: -12px;
    }
    
    .text-banner-single:nth-of-type(3) {
        left: -24px;
    }

    .text-banner-single:nth-of-type(4) {
        position: relative;
        left: -37px;
        font-size: 17px;
    }

    section.veiculos-destaque .container {
        text-align: center;
    }

    .vitrine-destaque {
        display: inline-block;
        float: none;
        width: 90%;
    }

    section.veiculos-destaque .line-titulo > h2 {
        font-size: 25px;
    }

    .vitrine-destaque a {
        margin-bottom: 50px;
    }

    .servicos-descricao {
        display: block;
    }

    .half1 {
        width: 100%;
    }

    .half2 {
        width: 100%;
    }

}


@media screen and (max-width: 450px) {

    .vitrine-destaque {
        width: 100%;
    }


}